<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinnks}}
</head>
<body>
    {{>navbar}}
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>404 Error<span> Page no found</span></h1>
                    <a href="/"><button>Go to home</button></a>
                </div>
                <!-- right side -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="./images/404.jpg" alt="" class="img-fluid" title="Anish">
                    </figure>
                </div>

            </div>
            </div>     
        </div>
    </div>
     {{>footer}}
</body>
</html>